a {
    text-decoration: none;
    text-shadow: lemonchiffon;
    transition: linear;
}

a:hover {
    font-size: 18px;
    text-decoration-color: #ff4967;
    transform: scale(1);

}


ol {
    list-style-type: none;
    margin-left: 35px;
    padding-bottom: 3px;
}
